<!-- 正文开始 -->
<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-card-body">
      <!-- 数据表格 -->
      <table id="userAffTable" lay-filter="userAffTable"></table>
    </div>
  </div>
</div>

<!-- js部分 -->
<script>
  layui.use(['layer', 'form', 'table', 'tableX', 'util', 'admin', 'xmSelect', 'formX', 'dropdown', 'upload'], function () {
    const $ = layui.jquery;
    const layer = layui.layer;
    const form = layui.form;
    const table = layui.table;
    const tableX = layui.tableX;
    const util = layui.util;
    const admin = layui.admin;
    const formX = layui.formX;
    const setter = layui.setter;
    const xmSelect = layui.xmSelect;
    const roleList = [];  // 所有角色
    form.render('select', 'userAffTbSearchForm');

    /* 渲染表格 */
    const insTb = tableX.render({
      elem: '#userAffTable',
      url: setter.baseServer + '/openai/u/affUsers?level=1',
      parseData: function(res) {
        return {
          code: res.code,
          msg: res.message,
          count: res.data.count,
          data: res.data.list
        };
      },
      page: true,
      height: 'full-235',
      cellMinWidth: 100,
      cols: [[
        {type: 'numbers'},
        {field: 'username', title: '账号ID', sort: false, width: 200},
        {field: 'nickname', title: '昵称', sort: false},
        {field: 'income', title: '本日收益', sort: false, templet: function (d) {
            return 0;
          }, width: 200},
        {field: 'income', title: '本月收益', sort: false, templet: function (d) {
            return 0;
          }, width: 200},
        {field: 'income', title: '累计收益', sort: false, templet: function (d) {
            return 0;
          }, width: 200},
        {
          field: 'createTime', title: '注册日期', templet: function (d) {
            return util.toDateString(d.createTime);
          }, sort: true, width: 180
        }
      ]]
    });

    /* 表格搜索 */
    form.on('submit(userAffTbSearch)', function (data) {
      insTb.reload({where: data.field, page: {curr: 1}});
      return false;
    });
  });
</script>
