<tpl/>
<style>
    /** 应用快捷块样式 */
    .console-app-group {
        display: block;
        padding: 16px;
        border-radius: 4px;
        text-align: center;
        background-color: #fff;
        cursor: pointer;
    }

    .console-app-group .console-app-icon {
        width: 32px;
        height: 32px;
        line-height: 32px;
        margin-bottom: 6px;
        display: inline-block;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 32px;
        color: #69c0ff;
    }

    .console-app-group:hover {
        box-shadow: 0 0 15px rgba(0, 0, 0, .08);
    }

    /** //应用快捷块样式 */

    /** 小组成员 */
    .console-user-group {
        position: relative;
        padding: 10px 0 10px 60px;
    }

    .console-user-group .console-user-group-head {
        width: 32px;
        height: 32px;
        position: absolute;
        top: 50%;
        left: 12px;
        margin-top: -16px;
        border-radius: 50%;
    }

    .console-user-group .layui-badge {
        position: absolute;
        top: 50%;
        right: 8px;
        margin-top: -10px;
    }

    .console-user-group .console-user-group-name {
        line-height: 1.2;
    }

    .console-user-group .console-user-group-desc {
        color: #8c8c8c;
        line-height: 1;
        font-size: 12px;
        margin-top: 5px;
    }

    /** 卡片轮播图样式 */
    .admin-carousel .layui-carousel-ind {
        position: absolute;
        top: -41px;
        text-align: right;
    }

    .admin-carousel .layui-carousel-ind ul {
        background: 0 0;
    }

    .admin-carousel .layui-carousel-ind li {
        background-color: #e2e2e2;
    }

    .admin-carousel .layui-carousel-ind li.layui-this {
        background-color: #999;
    }

    /** 广告位轮播图 */
    .admin-news .layui-carousel-ind {
        height: 45px;
    }

    .admin-news a {
        display: block;
        line-height: 70px;
        text-align: center;
    }

    /** 最新动态时间线 */
    .layui-timeline-dynamic .layui-timeline-item {
        padding-bottom: 0;
    }

    .layui-timeline-dynamic .layui-timeline-item:before {
        top: 16px;
    }

    .layui-timeline-dynamic .layui-timeline-axis {
        width: 9px;
        height: 9px;
        left: 1px;
        top: 7px;
        background-color: #cbd0db;
    }

    .layui-timeline-dynamic .layui-timeline-axis.active {
        background-color: #0c64eb;
        box-shadow: 0 0 0 2px rgba(12, 100, 235, .3);
    }

    .dynamic-card-body {
        box-sizing: border-box;
        overflow: hidden;
    }

    .dynamic-card-body:hover {
        overflow-y: auto;
        padding-right: 9px;
    }

    /** 优先级徽章 */
    .layui-badge-priority {
        border-radius: 50%;
        width: 20px;
        height: 20px;
        padding: 0;
        line-height: 18px;
        border-width: 2px;
        font-weight: 600;
    }
</style>
<!-- 正文开始 -->
<div class="layui-fluid ew-console-wrapper">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-header">
                    今日已消耗会话积分<span class="layui-badge layui-badge-green pull-right">日</span>
                </div>
                <div class="layui-card-body">
                    <p class="lay-big-font">25,848</p>
                    <p>总消耗会话积分<span class="pull-right">280 万</span></p>
                </div>
            </div>
        </div>
        <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-header">
                    账户余额<span class="layui-badge layui-badge-blue pull-right">RMB</span>
                </div>
                <div class="layui-card-body">
                    <p class="lay-big-font"><span style="font-size: 26px;line-height: 1;">¥</span>12,000</p>
                    <p>历史充值总额<span class="pull-right">68 万</span></p>
                </div>
            </div>
        </div>
        <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-header">
                    今日成功会话<span class="layui-badge layui-badge-red pull-right">会话请求</span>
                </div>
                <div class="layui-card-body">
                    <p class="lay-big-font">1,680</p>
                    <p>接口成功率<span class="pull-right">60%</span></p>
                </div>
            </div>
        </div>
        <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-header">
                    今日邀请用户
                    <span class="icon-text pull-right" lay-tips="通过你的邀请码/链接注册用户数量统计" lay-direction="4" lay-offset="5px,5px">
                        <i class="layui-icon layui-icon-tips"></i>
                    </span>
                </div>
                <div class="layui-card-body">
                    <p class="lay-big-font">128 <span style="font-size: 24px;line-height: 1;">位</span></p>
                    <p>总邀请<span class="pull-right">10800 人</span></p>
                </div>
            </div>
        </div>
    </div>
    <!-- 快捷方式 -->
    <div class="layui-row layui-col-space15">
        <div class="layui-col-sm6" style="padding-bottom: 0;">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-xs6 layui-col-sm3">
                    <a class="console-app-group" href="#/system/user">
                        <i class="console-app-icon layui-icon layui-icon-group"
                           style="font-size: 26px;padding-top: 3px;margin-right: 6px;"></i>
                        <div class="console-app-name">我的下级</div>
                    </a>
                </div>
                <div class="layui-col-xs6 layui-col-sm3">
                    <div class="console-app-group">
                        <i class="console-app-icon layui-icon layui-icon-chart" style="color: #95de64;"></i>
                        <div class="console-app-name">接口分析</div>
                    </div>
                </div>
                <div class="layui-col-xs6 layui-col-sm3">
                    <div class="console-app-group">
                        <i class="console-app-icon layui-icon layui-icon-cart" style="color: #ff9c6e;"></i>
                        <div class="console-app-name">购买积分</div>
                    </div>
                </div>
                <div class="layui-col-xs6 layui-col-sm3">
                    <div class="console-app-group">
                        <i class="console-app-icon layui-icon layui-icon-form"
                           style="color: #b37feb;font-size: 30px;"></i>
                        <div class="console-app-name">我的订单</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6" style="padding-bottom: 0;">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-xs6 layui-col-sm3">
                    <div class="console-app-group">
                        <i class="console-app-icon layui-icon layui-icon-layer"
                           style="color: #ffd666;font-size: 34px;"></i>
                        <div class="console-app-name">票据管理</div>
                    </div>
                </div>
                <div class="layui-col-xs6 layui-col-sm3">
                    <div class="console-app-group">
                        <i class="console-app-icon layui-icon layui-icon-email"
                           style="color: #5cdbd3;font-size: 36px;"></i>
                        <div class="console-app-name">站内消息</div>
                    </div>
                </div>
                <div class="layui-col-xs6 layui-col-sm3">
                    <div class="console-app-group">
                        <i class="console-app-icon layui-icon layui-icon-note"
                           style="color: #ff85c0;font-size: 28px;"></i>
                        <div class="console-app-name">标签</div>
                    </div>
                </div>
                <div class="layui-col-xs6 layui-col-sm3">
                    <div class="console-app-group">
                        <i class="console-app-icon layui-icon layui-icon-slider" style="color: #ffc069;"></i>
                        <div class="console-app-name">系统配置</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8 layui-col-sm6">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                  <div class="layui-card">
                    <div class="layui-card-header">公告</div>
                    <div class="layui-card-body">
                      <div class="layui-carousel admin-carousel admin-news" id="workplaceNewsCarousel">
                        <div carousel-item>
                          <div>
                            <a
                              href="https://nya.com/"
                              target="_blank"
                              style="color:#fff;background-color: #009688;background-image: linear-gradient(to right,#009688,#5fb878);"
                            >维护通知</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">模型消耗列表</div>
                        <div class="layui-card-body">
                            <table class="layui-table" lay-skin="line">
                                <colgroup>
                                    <col width="40"/>
                                    <col/>
                                    <col/>
                                    <col/>
                                    <col/>
                                    <col width="160"/>
                                </colgroup>
                                <thead>
                                <tr>
                                    <td></td>
                                    <td>模型名称</td>
                                    <td align="center">消耗Token</td>
                                    <td align="center">消耗积分</td>
                                    <td align="center">模型状态</td>
                                    <td align="center">消耗占比</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td><span class="layui-text"><a>仓库管理系统</a></span></td>
                                    <td align="center">2020-03-01</td>
                                    <td align="center">2020-06-01</td>
                                    <td align="center"><span class="text-success">进行中</span></td>
                                    <td>
                                        <div class="layui-progress" lay-showPercent="yes">
                                            <div class="layui-progress-bar" lay-percent="30%"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td><span class="layui-text"><a>档案管理系统</a></span></td>
                                    <td align="center">2020-03-01</td>
                                    <td align="center">2020-08-01</td>
                                    <td align="center"><span class="text-success">进行中</span></td>
                                    <td>
                                        <div class="layui-progress" lay-showPercent="yes">
                                            <div class="layui-progress-bar" lay-percent="10%"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td><span class="layui-text"><a>后台管理系统</a></span></td>
                                    <td align="center">2020-01-01</td>
                                    <td align="center">2020-05-01</td>
                                    <td align="center"><span class="text-danger">已延期</span></td>
                                    <td>
                                        <div class="layui-progress" lay-showPercent="yes">
                                            <div class="layui-progress-bar" lay-percent="60%"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td><span class="layui-text"><a>粮情监测系统</a></span></td>
                                    <td align="center">2020-06-01</td>
                                    <td align="center">2020-10-01</td>
                                    <td align="center"><span class="text-warning">未开始</span></td>
                                    <td>
                                        <div class="layui-progress" lay-showPercent="yes">
                                            <div class="layui-progress-bar" lay-percent="0%"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td><span class="layui-text"><a>项目00000001</a></span></td>
                                    <td align="center">2020-01-01</td>
                                    <td align="center">2020-04-01</td>
                                    <td align="center"><span class="text-muted">已完成</span></td>
                                    <td>
                                        <div class="layui-progress" lay-showPercent="yes">
                                            <div class="layui-progress-bar" lay-percent="90%"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td><span class="layui-text"><a>项目00000002</a></span></td>
                                    <td align="center">2020-01-01</td>
                                    <td align="center">2020-03-01</td>
                                    <td align="center"><span class="text-muted">已完成</span></td>
                                    <td>
                                        <div class="layui-progress" lay-showPercent="yes">
                                            <div class="layui-progress-bar" lay-percent="100%"></div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md4 layui-col-sm6">

            <div class="layui-card">
                <div class="layui-card-header">接口信息</div>
                <div class="layui-card-body">
                    <table class="layui-table layui-text">
                        <colgroup>
                            <col width="90">
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <td>接口地址</td>
                            <td>http://api.didili.cn</td>
                        </tr>
                        <tr>
                          <td>接口状态</td>
                          <td>维护中</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="layui-card">
                <div class="layui-card-header">新注册会员</div>
                <div class="layui-card-body">
                    <div class="console-user-group">
                        <img src="assets/images/head.jpg" class="console-user-group-head"/>
                        <div class="console-user-group-name">周星星</div>
                        <div class="console-user-group-desc">产品负责人</div>
                        <span class="layui-badge layui-badge-green">在线</span>
                    </div>
                    <div class="console-user-group">
                        <img src="assets/images/head.jpg" class="console-user-group-head"/>
                        <div class="console-user-group-name">周星星</div>
                        <div class="console-user-group-desc">项目负责人</div>
                        <span class="layui-badge layui-badge-green">在线</span>
                    </div>
                    <div class="console-user-group">
                        <img src="assets/images/head.jpg" class="console-user-group-head"/>
                        <div class="console-user-group-name">周星星</div>
                        <div class="console-user-group-desc">产品负责人</div>
                        <span class="layui-badge layui-badge-red">离线</span>
                    </div>
                    <div class="console-user-group">
                        <img src="assets/images/head.jpg" class="console-user-group-head"/>
                        <div class="console-user-group-name">周星星</div>
                        <div class="console-user-group-desc">测试负责人</div>
                        <span class="layui-badge layui-badge-red">离线</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- js部分 -->
<script>
    layui.use(['layer', 'carousel', 'element'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var carousel = layui.carousel;
        var device = layui.device();
        layui.element.render('progress');

        // 渲染轮播
        carousel.render({
            elem: '#workplaceNewsCarousel',
            width: '100%',
            height: '70px',
            arrow: 'none',
            autoplay: true,
            trigger: device.ios || device.android ? 'click' : 'hover',
            anim: 'fade'
        });

    });
</script>
